@import "tailwindcss";
:root{
  --light-gold: #E6C58A;
  --dim-gold:#d4af7a;
  --black: #1e1d1d;
  --dark-gray: #2b2b2b;
  --light-gray:#9a9a9a;
  --white: #fefefe;
}
:root {
  --font-small: "DM Sans", sans-serif;
  --font-big:"DM Sans", sans-serif;
  /* --font-big: "Forum", serif; */
}
:root {
  --background: #491313;
  --foreground: #fefefe;
}
